<% @posts.each do |post| %>
  <div>
    <%= link_to post_path(post.id) do %>
      <p><%= image_tag 'sample-author1.jpg' %></p>
    <% end %>
    <p>活動名：<%= post.title %><p>
  </div>
  <%= link_to "削除", post_path(post), method: :delete %>
  <%= render "public/favorites/favorite_button", post: post %>
<% end %>
