<h1>Public::Posts#show</h1>

<div>
  <p><%= image_tag 'sample-author1.jpg' %></p>
  <p>活動名：<%= @post.title %><p>
  <p>活動内容：<%= @post.body %></p>
  <% if @post.customer == current_customer %>
    <%= link_to "削除", posts_path(@post), method: :delete %>
  <% end %>
</div>


<%= render "public/favorites/favorite_button", post: @post %>
|
<%= link_to "戻る", posts_path %>

<%= render "public/comments/comments", post: @post, comment: @comment%>

