<div class="mt-4">
    <p>コメント件数：<%= comments.count %> | いいね数：<%= post.favorites.count %></p>
    <hr>
    <% comments.each do |comment| %>
      <%= image_tag comment.customer.get_profile_image(100,100) %>
      ニックネーム｜<%= comment.customer.nickname %></br>
      <%= image_tag comment.get_image(200,200) %></br>
      <%= comment.comment %></br>
      <%= comment.strftime('%Y/%M/%D') %>
      <% if comment.customer == current_customer %>
        <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, class: "btn btn-outline-secondary btn-sm", "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-secondary mt-2" %>
      <% end %>  
      <hr>
    <% end %>
  </div>
  <div class="mt-4">
    <%= form_with model: [post, comment] do |f| %>
      <%= render "layouts/error_messages", model: f.object %>
      <%= f.text_area :comment, size: "47x5" , placeholder: "コメントをここに" %>
      <%= f.file_field :image, accept: "image/*", class: "w-100 mb-3" %>
      <%= f.submit "コメントする", class: "btn btn-lg btn-primary " %>
    <% end %>
</div>