<h1>マイページ</h1>
<%= image_tag @customer.get_profile_image(100,200) %>
ニックネーム：<%= @customer.nickname %></br><hr>

<% @post_members.each do |post_member| %>
  申請者id：<%= post_member.customer.id %>：
  申請者ニックネーム：<%= post_member.customer.nickname %>
  <%= link_to "許可する", post_member_path(post_member, status: :permitted), method: :patch, class: "btn btn-lg btn-primary"  %>
  |
  <%= link_to "NG", post_member_path(post_member, status: :excluded), method: :patch, class: "btn btn-lg btn-danger" %>
  |
  活動名：<%= post_member.post.title %><br><hr>
<% end %>

 
 
  <div class="jumbotron jumbotron-fluid">
    <div class="contaner h-100 d-flex">
      <div class="my-auto">
        <h1 class="d-flex justify-content-center">今をつなぐ為に</h1>
        <div class="mt-4 d-flex justify-content-center">
          <%= link_to "新規登録", new_customer_registration_path, class: "btn btn-primary  mr-4" %>
          <%= link_to "ログイン", new_customer_session_path, class: "btn btn-primary mr-4" %>
          <%= link_to "ゲストログイン（閲覧用）", guest_sign_in_path, method: :post, class: "btn btn-primary" %>
        </div>
        <h6 class="mt-4 d-flex justify-content-center">誰かとつながる楽しさを、またここから始めませんか？</h6>
      </div>
    </div>
  </div>