<h1>マイページ</h1>
<% @post_members.each do |post_member| %>
  customer_id：<%= post_member.customer.id %>：
  <%= link_to "許可する", post_member_path(post_member, status: :permitted), method: :patch, class: "btn btn-lg btn-primary"  %>
  |
  <%= link_to "NG", post_member_path(post_member, status: :excluded), method: :patch, class: "btn btn-lg btn-danger" %>
  |
  <%= post_member.post.title %><br><hr>
  <%= link_to "許可・NG者一覧", post_members_path(@post_member) %><br>
<% end %>